.row {
  display: flex;
  margin-bottom: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 1rem;
}

.row::-webkit-scrollbar {
  color: var(--green);
}
.row::-webkit-bar {
  background-color: yellow;
  color: blue;
}

/* Track */
.row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
.row::-webkit-scrollbar-thumb {
  background:  var(--green); 
  border-radius: 10px;
}

.hd {
  color: var(--dark-blue);
  background: var(--white);
  border-radius: 0.2rem;
  padding: 0.2rem;
  width: max-content;
  font-weight: bold;
  box-shadow: 0px 0px 2px black;
}

.titleRow {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: var(--type-second);
  position: relative;
  background: linear-gradient(45deg, var(--green), var(--white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  z-index: 99;
}

.poster {
  transform: scale(0.95);
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.poster:hover {
  transform: scale(1);
}

.posterMovie {
  height: 350px;
  min-width: 250px;
  position: relative;
  object-fit: cover;
}

.posterMovie::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  z-index: 99;
  position: absolute;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.posterMovie:hover::before {
  opacity: 1;
}

.posterMovie:hover .poster {
  transform: scale(1);
}

.posterContents {
  color: var(--white);
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0rem 0.5rem;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.posterContents p span {
  color: var(--white);
  background: green;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-weight: bold;
  box-shadow: 0px 0px 2px black;
}

.posterContents h1 {
  filter: drop-shadow(0px 0px 3px black);
}

.posterMovie:hover .posterContents {
  opacity: 1;
}

.btnPoster {
  font-family: var(--type-first);
  color: var(--dark-blue);
  background-color: var(--green);
  border: 2px solid transparent;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.btnPoster:hover,
.btnPoster:focus {
  border-color: var(--dark-blue);
  box-shadow: 0px 0px 2px var(--green);
}

@media (max-width: 850px) {
  .posterMovie {
    min-width: 200px;
    height: 300px;
  }
}

@media (max-width: 700px) {
  .posterMovie {
    min-width: 170px;
    height: 250px;
  }

  .titleRow {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .posterMovie {
    overflow: hidden;
  }

  .titleRow {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }

  .posterContents h1 {
    font-size: 0.975rem;
  }

  .posterContents p {
    font-size: 0.875rem;
  }

  .btnPoster {
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  }
}
